<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Buff's Bulletin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Search Bar -->
        <form class="d-flex mx-auto needs-validation" action="/search" method="GET">
          <input class="form-control me-2" 
            type="search" 
            style="width: 300px;" 
            placeholder="Search by event or club" 
            aria-label="Search" 
            name="keyword"
            required
            oninvalid="this.setCustomValidity('Please enter a keyword to search.')"
          >
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <!-- If logged in, show profile options, otherwise show options to sign up or login -->
        {{#if login}}
          <!-- Profile Menu -->
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-display="static" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              My Account
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" href="/profile">My Profile</a></li>
              <li><a class="dropdown-item" href="/myEvents">My Events</a></li>
              <li><a class="dropdown-item" href="/myFriends">My Friends</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        {{else}}
          <a class="btn btn-outline-primary" href="/register" role="button" style="margin-right: 10px;">Sign Up</a>
          <a class="btn btn-primary" href="/login" role="button">Login</a>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
