{{> message}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h4>Your Profile</h4>
                </div>
                <div class="card-body">
                    <form method="GET" action = "/profile">
                        <div class="mb-3 text-center">
                            <p class="mb-1 fw-bold">Profile Picture</p>
                            <img src={{user.profilepic}} alt="Profile Picture" class="img-thumbnail" style="max-width: 300px;">
                        </div>

                        <div class="mb-3 text-center">
                            <p class="mb-1 fw-bold">Username</p>
                            <p>{{user.username}}</p>
                        </div>
<!--

                        <div class="mb-3">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea class="form-control" id="bio" rows="3" placeholder="Add a bio"></textarea>
                        </div>
-->

                        <div class="d-grid">
                            <a href="/editProfile" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>