{{> message}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h4>Your Profile</h4>
                </div>
                <div class="card-body">
                    <form method="GET" action = "/profile">
                        <div class="mb-3">
                            <label for="profilePic" class="form-label">Profile Picture</label>
                            <img src={{user.profilepic}} alt="Profile Picture" class="img-thumbnail" style="max-width: 300px;">
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newUsername" name="newUsername" placeholder="John Doe" />
                        </div>
<!--
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="john@example.com" />
                        </div>

                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="newPassword" name = "newPassword" placeholder="********" />
                        </div>

                        <div class="mb-3">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea class="form-control" id="bio" rows="3" placeholder="Add a bio"></textarea>
                        </div>
-->
                        <!-- This is kinda clumsy right now, I want to work on making it look a little better for the user -->

                        <!-- 
                        <div id="formMessage" class="alert alert-danger d-none" role="alert">
                            Please add changes before submitting.
                        </div>
                        -->

                        <div class="d-grid">
                            <a href="/editProfile" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>