<div class="container-fluid mt-4">
    <form method = "POST" action="/register" >
        <h1>Register</h1>
        <div class= "mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
            <div class="form-check mt-3">
                <label class="form-check-label" for="useradmin">Are you an organizer?</label>
                <input class="form-check-input" type="checkbox" id="useradmin" name="useradmin" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>